/* COLORS: */
// Primary - Green
$color-primary: #2e9e4f;
$color-primary-light: #55c878;
$color-primary-dark: #187536;

// Secondary - Orange
$color-secondary-light: #ffb347;
$color-secondary-dark: #f26b21;

// Tertiary - Blue
$color-tertiary-light: #35a7ff;
$color-tertiary-dark: #1769c2;

// Greys
$color-grey-dark: #666;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light: #ccc;
$color-grey-light-1: #eee;
$color-white: #fff;
$color-black: #000;

/* GRID: */
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;

/* FONT */
$default-font-size: 1.6rem;

/* CONTAINERS */
$default-border-radius: 4px;
