@use "../abstracts/variables";
@use "../abstracts/mixins";

.book {
  background-image:
    linear-gradient(
      105deg,
      rgba(variables.$color-white, 0.8) 0%,
      rgba(variables.$color-white, 0.8) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: variables.$default-border-radius;
  box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.2);

  @include mixins.respond(tab-land) {
    background-image:
      linear-gradient(
        105deg,
        rgba(variables.$color-white, 0.8) 0%,
        rgba(variables.$color-white, 0.8) 70%,
        transparent 70%
      ),
      url(../img/nat-10.jpg);
  }

  @include mixins.respond(tab-port) {
    background-image:
      linear-gradient(
        to right,
        rgba(variables.$color-white, 0.8) 0%,
        rgba(variables.$color-white, 0.8) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;
    @include mixins.respond(tab-land) {
      width: 70%;
    }

    @include mixins.respond(tab-land) {
      width: 100%;
    }
  }
}
